body.container-fluid {
    background-color: #444444;
    font-family: "Lato", sans-serif;
    padding: 0;
}
.layout-title-bar {
    background-color: white;
    padding: 0;
    border-bottom: 2px solid black;
}
.layout-title-bar-logo-area {
    text-align: center;
}
.layout-title-area {
    display: inline-block;
}

.layout-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999999;
}

.layout-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.layout-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

.layout-title-bar-controls {
    vertical-align: top;
    line-height: 65px;
}

.layout-title-bar-controls > div {
    text-align: center;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .layout-title-bar-controls > div {
        text-align: right;
    }
    .layout-title-bar-logo-area {
        text-align: left;
    }
}